/*
 * PTV Open Api version 9
 * Here you can see listed all the PTV Open Api methods.
 *
 * OpenAPI spec version: v9
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package fi.metatavu.ptv.client;

import fi.metatavu.ptv.client.model.*;

import fi.metatavu.ptv.client.model.IVmError;
import fi.metatavu.ptv.client.model.VmOpenApiCodeListItem;
import fi.metatavu.ptv.client.model.VmOpenApiCodeListPage;
import fi.metatavu.ptv.client.model.VmOpenApiDialCodeListItem;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "io.swagger.codegen.languages.JavaClientCodegen", date = "2018-10-05T18:15:03.681+03:00")
public class CodeListApi {
  
  private ApiClient client;
  private String accessToken;

  public CodeListApi(ApiClient client, String accessToken) {
    this.client = client;
    this.accessToken = accessToken;
  }
  
  /**
   * Gets a list of area codes filtered by area type.
   * 
   * @param type Area type (required)
   */
  public ApiResponse<List<VmOpenApiCodeListItem>> apiV9CodeListGetAreaCodesTypeByTypeGet(String type) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v9/CodeList/GetAreaCodes/type/{type}"
      .replaceAll("\\{" + "type" + "\\}", type);
      
    ResultType<List<VmOpenApiCodeListItem>> resultType = new ResultType<List<VmOpenApiCodeListItem>>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Gets a list of country codes.
   * 
   */
  public ApiResponse<List<VmOpenApiDialCodeListItem>> apiV9CodeListGetCountryCodesGet() {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v9/CodeList/GetCountryCodes";
      
    ResultType<List<VmOpenApiDialCodeListItem>> resultType = new ResultType<List<VmOpenApiDialCodeListItem>>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Gets a list of language codes.
   * 
   */
  public ApiResponse<List<VmOpenApiCodeListItem>> apiV9CodeListGetLanguageCodesGet() {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v9/CodeList/GetLanguageCodes";
      
    ResultType<List<VmOpenApiCodeListItem>> resultType = new ResultType<List<VmOpenApiCodeListItem>>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Gets a list of municipality codes.
   * 
   */
  public ApiResponse<List<VmOpenApiCodeListItem>> apiV9CodeListGetMunicipalityCodesGet() {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v9/CodeList/GetMunicipalityCodes";
      
    ResultType<List<VmOpenApiCodeListItem>> resultType = new ResultType<List<VmOpenApiCodeListItem>>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Gets a list of postal codes.
   * 
   * @param page The page to be fetched. (optional, default to 1)
   */
  public ApiResponse<VmOpenApiCodeListPage> apiV9CodeListGetPostalCodesGet(Integer page) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
    if (page != null)
    queryParams.put("page", page);
    
        
    String path = "/api/v9/CodeList/GetPostalCodes";
      
    ResultType<VmOpenApiCodeListPage> resultType = new ResultType<VmOpenApiCodeListPage>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
}
