/**
 * PTV Open Api version 4
 * Here you can see listed all the PTV Open Api methods.
 *
 * OpenAPI spec version: v4
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package fi.metatavu.ptv.client;

import fi.metatavu.ptv.client.model.*;

import fi.metatavu.ptv.client.model.IVmError;
import fi.metatavu.ptv.client.model.V4VmOpenApiGeneralDescription;
import java.time.OffsetDateTime;
import fi.metatavu.ptv.client.model.V3VmOpenApiGuidPage;
import fi.metatavu.ptv.client.model.VmOpenApiGeneralDescriptionIn;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2017-04-10T07:12:40.139+03:00")
public class GeneralDescriptionApi {

  public GeneralDescriptionApi(ApiClient client) {
    this.client = client;
  }
  
  /**
   * Fetches all the information related to a single statutory service general description.
   * 
   * @param id Statutory service general description guid (id of the entity) to fetch. (required)
   */
  public ApiResponse<V4VmOpenApiGeneralDescription> apiV4GeneralDescriptionByIdGet(String id) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/GeneralDescription/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<V4VmOpenApiGeneralDescription> resultType = new ResultType<V4VmOpenApiGeneralDescription>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Gets all the statutory service general descriptions within PTV as a list of ids and names.  Descriptions created/modified after certain date can be fetched by adding date as query string parameter.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                  \&quot;Names\&quot;: [                      \&quot;Type - Required value &#39;Name&#39; was not found!\&quot;                  ]              }              &lt;/code&gt;
   * @param date Supports only format \&quot;yyyy-MM-ddTHH:mm:ss\&quot; (optional)
   * @param page The page to be fetched. Page numbering starts from one. (optional)
   */
  public ApiResponse<V3VmOpenApiGuidPage> apiV4GeneralDescriptionGet(OffsetDateTime date, Integer page) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
    if (date != null)
    queryParams.put("date", date);
if (page != null)
    queryParams.put("page", page);
    
        
    String path = "/api/v4/GeneralDescription";
      
    ResultType<V3VmOpenApiGuidPage> resultType = new ResultType<V3VmOpenApiGuidPage>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Creates a new general description with the data provided as input.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                  \&quot;Names\&quot;: [                      \&quot;Type - Required value &#39;Name&#39; was not found!\&quot;                  ]              }              &lt;/code&gt;
   * @param request The general description data. (optional)
   */
  public ApiResponse<V4VmOpenApiGeneralDescription> apiV4GeneralDescriptionPost(VmOpenApiGeneralDescriptionIn request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/GeneralDescription";
      
    ResultType<V4VmOpenApiGeneralDescription> resultType = new ResultType<V4VmOpenApiGeneralDescription>() {};
    return client.doPOSTRequest(path, resultType, queryParams, formParams);
  }
  
  private ApiClient client;
}
