/**
 * PTV Open Api version 4
 * Here you can see listed all the PTV Open Api methods.
 *
 * OpenAPI spec version: v4
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package fi.metatavu.ptv.client;

import fi.metatavu.ptv.client.model.*;

import fi.metatavu.ptv.client.model.IVmError;
import fi.metatavu.ptv.client.model.V4VmOpenApiOrganization;
import fi.metatavu.ptv.client.model.V4VmOpenApiOrganizationInBase;
import java.time.OffsetDateTime;
import fi.metatavu.ptv.client.model.V3VmOpenApiGuidPage;
import fi.metatavu.ptv.client.model.V4VmOpenApiOrganizationIn;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2017-04-10T07:09:28.826+03:00")
public class OrganizationApi {

  public OrganizationApi(ApiClient client) {
    this.client = client;
  }
  
  /**
   * Fetches all the information related to organizations with defined business identity code.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;code\&quot;: [                   \&quot;The field code must match the regular expression &#39;^[0-9]{7}-[0-9]{1}$&#39;.\&quot;                 ]              }              &lt;/code&gt;
   * @param code Finnish business identity code (Y-tunnus). (required)
   */
  public ApiResponse<List<V4VmOpenApiOrganization>> apiV4OrganizationBusinesscodeByCodeGet(String code) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/Organization/businesscode/{code}"
      .replaceAll("\\{" + "code" + "\\}", code);
      
    ResultType<List<V4VmOpenApiOrganization>> resultType = new ResultType<List<V4VmOpenApiOrganization>>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Fetches all the information related to a single organization.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;id\&quot;: [                   \&quot;Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx).\&quot;                 ]              }              &lt;/code&gt;
   * @param id Guid (required)
   */
  public ApiResponse<V4VmOpenApiOrganization> apiV4OrganizationByIdGet(String id) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/Organization/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<V4VmOpenApiOrganization> resultType = new ResultType<V4VmOpenApiOrganization>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Updates organization.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;propertyname\&quot;: [                   \&quot;The field propertyname has invalid characters.\&quot;                 ]              }              &lt;/code&gt;
   * @param id organization entity id (required)
   * @param request organization values (optional)
   */
  public ApiResponse<V4VmOpenApiOrganization> apiV4OrganizationByIdPut(String id, V4VmOpenApiOrganizationInBase request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/Organization/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<V4VmOpenApiOrganization> resultType = new ResultType<V4VmOpenApiOrganization>() {};
    return client.doPUTRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Gets all the published organizations within PTV as a list of organization ids and names.  Organizations created/modified after certain date can be fetched by adding date as query string parameter.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;date\&quot;: [                   \&quot;The value &#39;-2&#39; is not valid for Nullable&#x60;1.\&quot;,                   \&quot;The date parameter is invalid.\&quot;                 ]              }              &lt;/code&gt;
   * @param date Supports only format \&quot;yyyy-MM-ddTHH:mm:ss\&quot; (optional)
   * @param page The page number to be fetched. (optional)
   */
  public ApiResponse<V3VmOpenApiGuidPage> apiV4OrganizationGet(OffsetDateTime date, Integer page) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
    if (date != null)
    queryParams.put("date", date);
if (page != null)
    queryParams.put("page", page);
    
        
    String path = "/api/v4/Organization";
      
    ResultType<V3VmOpenApiGuidPage> resultType = new ResultType<V3VmOpenApiGuidPage>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Fetches all the information related to a single organization with defined Oid.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;oid\&quot;: [                   \&quot;The field oid must match the regular expression &#39;^[A-Za-z0-9.-]*$&#39;.\&quot;                 ]              }              &lt;/code&gt;
   * @param oid Oid identifier (required)
   */
  public ApiResponse<V4VmOpenApiOrganization> apiV4OrganizationOidByOidGet(String oid) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/Organization/oid/{oid}"
      .replaceAll("\\{" + "oid" + "\\}", oid);
      
    ResultType<V4VmOpenApiOrganization> resultType = new ResultType<V4VmOpenApiOrganization>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Creates a new organization with the data provided as input.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages.&lt;/para&gt;  &lt;code&gt;              {                  \&quot;Addresses[1].StreetAddress\&quot;: [                      \&quot;The StreetAddress field is required.\&quot;                  ]              }              &lt;/code&gt;
   * @param request The organization data. (optional)
   */
  public ApiResponse<V4VmOpenApiOrganization> apiV4OrganizationPost(V4VmOpenApiOrganizationIn request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/Organization";
      
    ResultType<V4VmOpenApiOrganization> resultType = new ResultType<V4VmOpenApiOrganization>() {};
    return client.doPOSTRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Updates organization.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;propertyname\&quot;: [                   \&quot;The field propertyname has invalid characters.\&quot;                 ]              }              &lt;/code&gt;
   * @param sourceId organization external id (required)
   * @param request organization values (optional)
   */
  public ApiResponse<V4VmOpenApiOrganization> apiV4OrganizationSourceIdBySourceIdPut(String sourceId, V4VmOpenApiOrganizationInBase request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v4/Organization/sourceId/{sourceId}"
      .replaceAll("\\{" + "sourceId" + "\\}", sourceId);
      
    ResultType<V4VmOpenApiOrganization> resultType = new ResultType<V4VmOpenApiOrganization>() {};
    return client.doPUTRequest(path, resultType, queryParams, formParams);
  }
  
  private ApiClient client;
}
