/*
 * PTV Open Api version 6
 * Here you can see listed all the PTV Open Api methods.
 *
 * OpenAPI spec version: v6
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package fi.metatavu.ptv.client;

import fi.metatavu.ptv.client.model.*;

import fi.metatavu.ptv.client.model.IVmError;
import fi.metatavu.ptv.client.model.V3VmOpenApiGuidPage;
import fi.metatavu.ptv.client.model.V5VmOpenApiOrganizationIn;
import fi.metatavu.ptv.client.model.V5VmOpenApiOrganizationInBase;
import fi.metatavu.ptv.client.model.V6VmOpenApiOrganization;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "io.swagger.codegen.languages.JavaClientCodegen", date = "2017-10-19T16:10:06.613+03:00")
public class OrganizationApi {
  
  private ApiClient client;
  private String accessToken;

  public OrganizationApi(ApiClient client, String accessToken) {
    this.client = client;
    this.accessToken = accessToken;
  }
  
  /**
   * Fetches all the information related to organizations with defined business identity code.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;code\&quot;: [                   \&quot;The field code must match the regular expression &#39;^[0-9]{7}-[0-9]{1}$&#39;.\&quot;                 ]              }              &lt;/code&gt;
   * @param code Finnish business identity code (Y-tunnus). (required)
   */
  public ApiResponse<List<V6VmOpenApiOrganization>> apiV6OrganizationBusinesscodeByCodeGet(String code) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v6/Organization/businesscode/{code}"
      .replaceAll("\\{" + "code" + "\\}", code);
      
    ResultType<List<V6VmOpenApiOrganization>> resultType = new ResultType<List<V6VmOpenApiOrganization>>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Fetches all the information related to a single organization.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;id\&quot;: [                   \&quot;Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx).\&quot;                 ]              }              &lt;/code&gt;
   * @param id Guid (required)
   */
  public ApiResponse<V6VmOpenApiOrganization> apiV6OrganizationByIdGet(String id) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v6/Organization/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<V6VmOpenApiOrganization> resultType = new ResultType<V6VmOpenApiOrganization>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Updates organization.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;propertyname\&quot;: [                   \&quot;The field propertyname has invalid characters.\&quot;                 ]              }              &lt;/code&gt;
   * @param id organization entity id (required)
   * @param request organization values (optional)
   */
  public ApiResponse<V6VmOpenApiOrganization> apiV6OrganizationByIdPut(String id, V5VmOpenApiOrganizationInBase request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v6/Organization/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<V6VmOpenApiOrganization> resultType = new ResultType<V6VmOpenApiOrganization>() {};
    return client.doPUTRequest(this.accessToken, path, resultType, queryParams, formParams,request);
  }
  /**
   * Gets all the published organizations within PTV as a list of organization ids and names.  Organizations created/modified after certain date can be fetched by adding date as query string parameter.  Archived items can be fetched by setting parameter archived to true.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;date\&quot;: [                   \&quot;The value &#39;-2&#39; is not valid for Nullable&#x60;1.\&quot;,                   \&quot;The date parameter is invalid.\&quot;                 ]              }              &lt;/code&gt;
   * @param date Supports only format \&quot;yyyy-MM-ddTHH:mm:ss\&quot; (UTC). (optional)
   * @param page The page number to be fetched. (optional)
   * @param archived Get archived items by setting archived to true. (optional)
   */
  public ApiResponse<V3VmOpenApiGuidPage> apiV6OrganizationGet(@com.fasterxml.jackson.databind.annotation.JsonSerialize(using = com.fasterxml.jackson.datatype.jsr310.ser.OffsetDateTimeSerializer.class) @com.fasterxml.jackson.databind.annotation.JsonDeserialize(using = fi.metatavu.ptv.client.OffsetDateTimeDeserializer.class) java.time.OffsetDateTime date, Integer page, Boolean archived) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
    if (date != null)
    queryParams.put("date", date);
if (page != null)
    queryParams.put("page", page);
if (archived != null)
    queryParams.put("archived", archived);
    
        
    String path = "/api/v6/Organization";
      
    ResultType<V3VmOpenApiGuidPage> resultType = new ResultType<V3VmOpenApiGuidPage>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Fetches all the information related to a single organization with defined Oid.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;oid\&quot;: [                   \&quot;The field oid must match the regular expression &#39;^[A-Za-z0-9.-]*$&#39;.\&quot;                 ]              }              &lt;/code&gt;
   * @param oid Oid identifier (required)
   */
  public ApiResponse<V6VmOpenApiOrganization> apiV6OrganizationOidByOidGet(String oid) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v6/Organization/oid/{oid}"
      .replaceAll("\\{" + "oid" + "\\}", oid);
      
    ResultType<V6VmOpenApiOrganization> resultType = new ResultType<V6VmOpenApiOrganization>() {};
    return client.doGETRequest(this.accessToken, path, resultType, queryParams, formParams);
  }
  /**
   * Creates a new organization with the data provided as input.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages.&lt;/para&gt;  &lt;code&gt;              {                  \&quot;Addresses[1].StreetAddress\&quot;: [                      \&quot;The StreetAddress field is required.\&quot;                  ]              }              &lt;/code&gt;
   * @param request The organization data. (optional)
   */
  public ApiResponse<V6VmOpenApiOrganization> apiV6OrganizationPost(V5VmOpenApiOrganizationIn request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v6/Organization";
      
    ResultType<V6VmOpenApiOrganization> resultType = new ResultType<V6VmOpenApiOrganization>() {};
    return client.doPOSTRequest(this.accessToken, path, resultType, queryParams, formParams,request);
  }
  /**
   * Updates organization.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages. Below sample response.&lt;/para&gt;  &lt;code&gt;              {                 \&quot;propertyname\&quot;: [                   \&quot;The field propertyname has invalid characters.\&quot;                 ]              }              &lt;/code&gt;
   * @param sourceId organization external id (required)
   * @param request organization values (optional)
   */
  public ApiResponse<V6VmOpenApiOrganization> apiV6OrganizationSourceIdBySourceIdPut(String sourceId, V5VmOpenApiOrganizationInBase request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/v6/Organization/sourceId/{sourceId}"
      .replaceAll("\\{" + "sourceId" + "\\}", sourceId);
      
    ResultType<V6VmOpenApiOrganization> resultType = new ResultType<V6VmOpenApiOrganization>() {};
    return client.doPUTRequest(this.accessToken, path, resultType, queryParams, formParams,request);
  }
}
