/**
 * PTV Open Api
 * Here you can see listed all the PTV Open Api methods.
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package fi.otavanopisto.ptv.client;

import fi.otavanopisto.ptv.client.model.*;

import fi.otavanopisto.ptv.client.model.VmOpenApiOrganization;
import fi.otavanopisto.ptv.client.model.IVmError;
import fi.otavanopisto.ptv.client.model.IVmOpenApiOrganization;
import fi.otavanopisto.ptv.client.model.VmOpenApiOrganizationInBase;
import fi.otavanopisto.ptv.client.model.VmOpenApiGuidPage;
import java.time.OffsetDateTime;
import fi.otavanopisto.ptv.client.model.VmOpenApiOrganizationIn;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2016-09-30T08:33:13.270+03:00")
public class OrganizationApi {

  public OrganizationApi(ApiClient client) {
    this.client = client;
  }
  
  /**
   * Fetches all the information related to organizations with defined business identity code.
   * 
   * @param code Finnish business identity code (required)
   */
  public ApiResponse<List<VmOpenApiOrganization>> apiOrganizationBusinesscodeByCodeGet(String code) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/Organization/businesscode/{code}"
      .replaceAll("\\{" + "code" + "\\}", code);
      
    ResultType<List<VmOpenApiOrganization>> resultType = new ResultType<List<VmOpenApiOrganization>>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Fetches all the information related to a single organization.
   * 
   * @param id Guid (required)
   */
  public ApiResponse<VmOpenApiOrganization> apiOrganizationByIdGet(String id) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/Organization/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<VmOpenApiOrganization> resultType = new ResultType<VmOpenApiOrganization>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Updates organization.
   * 
   * @param id organization entity id (required)
   * @param request organization values (optional)
   */
  public ApiResponse<IVmOpenApiOrganization> apiOrganizationByIdPut(String id, VmOpenApiOrganizationInBase request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/Organization/{id}"
      .replaceAll("\\{" + "id" + "\\}", id);
      
    ResultType<IVmOpenApiOrganization> resultType = new ResultType<IVmOpenApiOrganization>() {};
    return client.doPUTRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Gets all the published organizations within PTV as a list of organization ids.              Organizations created/modified after certain date can be fetched by adding date as query string parameter.
   * 
   * @param date Supports only format \&quot;yyyy-MM-ddTHH:mm:ss\&quot; (optional)
   * @param page The page number to be fetched. (optional)
   */
  public ApiResponse<VmOpenApiGuidPage> apiOrganizationGet(OffsetDateTime date, Integer page) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
    if (date != null)
    queryParams.put("date", date);
if (page != null)
    queryParams.put("page", page);
    
        
    String path = "/api/Organization";
      
    ResultType<VmOpenApiGuidPage> resultType = new ResultType<VmOpenApiGuidPage>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Fetches all the information related to a single organization with defined Oid.
   * 
   * @param oid Oid identifier (required)
   */
  public ApiResponse<VmOpenApiOrganization> apiOrganizationOidByOidGet(String oid) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/Organization/oid/{oid}"
      .replaceAll("\\{" + "oid" + "\\}", oid);
      
    ResultType<VmOpenApiOrganization> resultType = new ResultType<VmOpenApiOrganization>() {};
    return client.doGETRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Creates a new organization with the data provided as input.
   * &lt;para&gt;HTTP status code 400 response model is a dictionary where key is property name and value is a list of error messages.&lt;/para&gt;  &lt;code&gt;              {                  \&quot;Addresses[1].StreetAddress\&quot;: [                      \&quot;The StreetAddress field is required.\&quot;                  ]              }              &lt;/code&gt;
   * @param request The organization data. (optional)
   */
  public ApiResponse<IVmOpenApiOrganization> apiOrganizationPost(VmOpenApiOrganizationIn request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/Organization";
      
    ResultType<IVmOpenApiOrganization> resultType = new ResultType<IVmOpenApiOrganization>() {};
    return client.doPOSTRequest(path, resultType, queryParams, formParams);
  }
  /**
   * Updates organization.
   * 
   * @param sourceId organization external id (required)
   * @param request organization values (optional)
   */
  public ApiResponse<IVmOpenApiOrganization> apiOrganizationSourceIdBySourceIdPut(String sourceId, VmOpenApiOrganizationInBase request) {
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, Object> formParams = new HashMap<>();
        
        
    String path = "/api/Organization/sourceId/{sourceId}"
      .replaceAll("\\{" + "sourceId" + "\\}", sourceId);
      
    ResultType<IVmOpenApiOrganization> resultType = new ResultType<IVmOpenApiOrganization>() {};
    return client.doPUTRequest(path, resultType, queryParams, formParams);
  }
  
  private ApiClient client;
}
